<a href="https://colab.research.google.com/github/yeswanthpenmetsa/IBMSME_2023/blob/main/Data_Analytics_Essentials_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


*Hands-on of Big Data Analyst with TuV Certified Qualification*


---

# **1. Data Analytics Essentials**

**Overview:** 

* Data Exploration
* Data Preparation
* Dimensionality Reduction

## **Data Exploration**

Data exploration is the initial step in data analysis, where users explore a large data set in an unstructured way to uncover initial patterns, characteristics, and points of interest. This process isn’t meant to reveal every bit of information a dataset holds, but rather to help create a broad picture of important trends and major points to study in greater detail.

### **Import Data**

There are so many ways to import the data from the outside source. One of it is using Pandas, Pandas is a python library that widely used for data analytics.

In [1]:
# import library
import pandas as pd

In practice this time we will use Telco Customer Churn dataset that available at Kaggle. This dataset contains unique customer records for a telecom company called Telco.

This data set includes information about:
*   Services that each customer has signed up for – phone, multiple lines, internet, online security, online backup, device protection, tech support, and streaming TV and movies.
*   Customer account information – how long they’ve been a customer, contract, payment method, paperless billing, monthly charges, and total charges.
*   Demographic info about customers – gender, age range, and if they have partners and dependents.
*   Customers who left within the last month – the column is called Churn

We can import many types of file, from many types of source. Since we are using Goole Collab, we are going to import the dataset from an online link(GitHUb Repo). For the other methods to import data can be seen in the Pandas documentation. [HERE](https://https://pandas.pydata.org/pandas-docs/stable/).

Import Data

In [2]:
# Import data from an online link (GitHub)
df_link = pd.read_csv('https://raw.githubusercontent.com/rc-dbe/bigdatacertification/master/dataset/churn.csv', sep=';',)

In [3]:
# Select the dataset
df = df_link

Show Data

In [4]:
# Prints 10 first Row
df.head(10)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,No,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,2985,2985.0,No
1,5575-GNVDE,Male,No,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,5695,18895.0,No
2,3668-QPYBK,Male,No,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,5385,10815.0,Yes
3,7795-CFOCW,Male,No,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),423,184075.0,No
4,9237-HQITU,Female,No,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,707,15165.0,Yes
5,9305-CDSKC,Female,No,No,No,8,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,9965,8205.0,Yes
6,1452-KIOVK,Male,No,No,Yes,22,Yes,Yes,Fiber optic,No,...,No,No,Yes,No,Month-to-month,Yes,Credit card (automatic),891,19494.0,No
7,6713-OKOMC,Female,No,No,No,10,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,No,Mailed check,2975,3019.0,No
8,7892-POOKP,Female,No,Yes,No,28,Yes,Yes,Fiber optic,No,...,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,1048,304605.0,Yes
9,6388-TABGU,Male,No,No,Yes,62,Yes,No,DSL,Yes,...,No,No,No,No,One year,No,Bank transfer (automatic),5615,348795.0,No

In [5]:
# Prints 5 last Row
df.tail(5)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
7038,6840-RESVB,Male,No,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,848,19905.0,No
7039,2234-XADUH,Female,No,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),1032,73629.0,No
7040,4801-JZAZL,Female,No,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,296,34645.0,No
7041,8361-LTMKD,Male,Yes,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,744,3066.0,Yes
7042,3186-AJIEK,Male,No,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),10565,68445.0,No

Show Dataset Info

In [6]:
# Prints the amount of rows and column numbers
df.shape

(7043, 21)

In [7]:
# Prints information about a DataFrame including the index dtype and column dtypes, non-null values and memory usage.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   object
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   int64
 19  TotalCharges      7032 non-null   float64
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

### **Central Tendency Measurements**

Select Numeric Variables

In [8]:
# Select Only Numeric Variables
df_num = df[['MonthlyCharges', 'tenure', 'TotalCharges']]

Central Tendency Measurements

In [9]:
# Mean value
mean= df_num.mean()
mean

MonthlyCharges      3517.437456
tenure                32.371149
TotalCharges      126251.908419
dtype: float64

In [10]:
# Median value
median= df_num.median()
median

MonthlyCharges     1885.0
tenure               29.0
TotalCharges      36769.0
dtype: float64

In [11]:
# Mode value
mode= df_num.mode()
mode

   MonthlyCharges  tenure  TotalCharges
0            2005       1         202.0

In [12]:
# Prints descriptive statistics that summarize the central tendency, dispersion and shape of a dataset’s distribution
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
tenure,7043.0,32.371149,24.559481,0.0,9.0,29.0,55.0,72.0
MonthlyCharges,7043.0,3517.437456,3634.996251,19.0,647.5,1885.0,7015.0,11875.0
TotalCharges,7032.0,126251.908419,192523.026544,19.0,7562.0,36769.0,143010.0,867245.0

### **Correlation**

To find the pairwise correlation of all columns in the data frame we can use dataframe.corr() function from Pandas.  Any NA values are automatically excluded and 
any non-numeric data type columns in the data frame automatically  ignored. Read the documentation [HERE](https://https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.corr.html). 

There are 4 methods available:
*  pearson: standard correlation coefficient
*  kendall: Kendall Tau correlation coefficient
*  spearman: Spearman rank correlation
*  callable: callable with input two 1d ndarrays

In [ ]:
# Count the correlation among the columns using kendal method
correlation_matrix = df.corr(method='kendall')

# Print Correlation Matrix
correlation_matrix

### **Contingency Table**

In [ ]:
# Compute Contingency Table
data_crosstab = pd.crosstab(df['PaymentMethod'], 
                            df['Churn'],  
                               margins = False) 
print(data_crosstab)

### **Data Visualization**

Import Libraries

In [ ]:
# Import Library
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

plt.rcParams['figure.figsize'] = (7, 7)
plt.style.use('ggplot')

We can customizing plots with style sheets. The style package adds support for easy-to-switch plotting “styles” with the same parameters as a matplotlibrc file.

There are a number of pre-defined styles provided by matplotlib, that can be seen [HERE](https://matplotlib.org/3.1.0/gallery/style_sheets/style_sheets_reference.html)

Visualize Data Distribution

In [ ]:
# Visualize Data Distribution
sns.distplot(df['MonthlyCharges'])

Scatter Plot

In [ ]:
# Scatter Plot
sns.scatterplot(x='tenure', y='TotalCharges', data= df)

In [ ]:
# Scatter Plot
sns.scatterplot(x='tenure', y='TotalCharges', hue='Churn', data= df)

Bar Chart

In [ ]:
# Draw Correlation Map
sns.clustermap(df.corr(), center=0, cmap='vlag', linewidths=.75)

Pairwise Relationship

In [ ]:
# Pairwise relationships
sns.pairplot(df, hue='Churn')

## **Data Preparation**

Data preparation is the process of cleaning and transforming raw data prior to processing and analysis.

### **Handling Missing Values**

In [ ]:
# Show missing values on data
df.isnull().sum()

In [ ]:
# Search for Median Value
median = df['TotalCharges'].median()

# Use Median to Replace Missing Values
df['TotalCharges'].fillna(median, inplace=True)

# Check for Missing Values
df.info()

### **Encode Categorical Value**

In [ ]:
# Import Module
from sklearn.preprocessing import OneHotEncoder

# Encoder
encoder = OneHotEncoder(sparse=False)

# Encode Categorical Data
df2 = pd.DataFrame(encoder.fit_transform(df[['gender', 'SeniorCitizen', 'Partner',	'Dependents',	'PhoneService', 'InternetService',	'MultipleLines',	'OnlineSecurity',	'OnlineBackup',	'DeviceProtection',	'TechSupport',	'StreamingTV',	'StreamingMovies', 'Contract',	'PaperlessBilling', 'PaymentMethod']]))
df2.columns = encoder.get_feature_names(['gender', 'SeniorCitizen', 'Partner',	'Dependents',	'PhoneService', 'InternetService',	'MultipleLines',	'OnlineSecurity',	'OnlineBackup',	'DeviceProtection',	'TechSupport',	'StreamingTV',	'StreamingMovies', 'Contract',	'PaperlessBilling', 'PaymentMethod'])

# Replace Categotical Data with Encoded Data
df_encoded = df.drop(['gender', 'SeniorCitizen', 'Partner',	'Dependents',	'PhoneService', 'InternetService',	'MultipleLines',	'OnlineSecurity',	'OnlineBackup',	'DeviceProtection',	'TechSupport',	'StreamingTV',	'StreamingMovies', 'Contract',	'PaperlessBilling', 'PaymentMethod'] ,axis=1, inplace=True)
df_encoded = pd.concat([df, df2], axis=1)

# Show Encoded Dataframe
df_encoded

In [ ]:
# Replace Churn Values
df_encoded['Churn'].replace(['No','Yes'],[0,1],inplace=True)

# Show Data
df_encoded

In [ ]:
# Show DataFrame Info
df_encoded.info()

In [ ]:
# Drop Unwanted Column
df_encoded = df_encoded.drop("customerID", axis=1)
df_encoded.head()

### **Normalization**

Normalization typically means rescales the values into a range of [0,1]

In [ ]:
# Select Columns
column_names = df_encoded.columns.tolist()
column_names.remove('Churn')
column_names

In [ ]:
#Import MinMax Scaler
from sklearn.preprocessing import MinMaxScaler

# initialize min-max scaler
mm_scaler = MinMaxScaler()
df_norm = df_encoded.copy()

# Transform all attributes
df_norm[column_names] = mm_scaler.fit_transform(df_norm[column_names])
df_norm.sort_index(inplace=True)
df_norm.head()

### **Standarization**

Standardization typically means rescales data to have a mean of 0 and a standard deviation of 1 (unit variance).

In [ ]:
# Import Standard Scaler
from sklearn.preprocessing import StandardScaler

# Initizalize Standard Scaler
standard_scaler = StandardScaler()
df_stand = df_encoded.copy()

# Transform all attributes
df_stand[column_names] = standard_scaler.fit_transform(df_stand[column_names])
df_stand.sort_index(inplace=True)
df_stand.head()

## **Dimensionality Reduction**

### **Principal Component Analysis**

Here we model the logistic regression from breast cancer data (https://www.kaggle.com/uciml/breast-cancer-wisconsin-data). Features are computed from a digitized image of a fine needle aspirate (FNA) of a breast mass. They describe characteristics of the cell nuclei present in the image.

Attribute Information:

1.   ID number
2.   Diagnosis (M = malignant, B = benign)

Ten real-valued features are computed for each cell nucleus:

1.   radius (mean of distances from center to points on the perimeter)
2.   texture (standard deviation of gray-scale values)
3.   perimeter
4.   area
5.   smoothness (local variation in radius lengths)
6.   compactness (perimeter^2 / area - 1.0)
7.   concavity (severity of concave portions of the contour)
8.   concave points (number of concave portions of the contour)
9.   symmetry
10.   fractal dimension ("coastline approximation" - 1)

Import Data

In [ ]:
# Here We Are Using Inbuilt Dataset of Scikit-Learn 
from sklearn.datasets import load_breast_cancer 
  
# Instantiating 
cancer = load_breast_cancer() 

# Creating Dataframe 
df_pca = pd.DataFrame(cancer['data'], columns = cancer['feature_names']) 
df_pca

Preprocess the Data

In [ ]:
# Importing Standardscalar Module 
from sklearn.preprocessing import StandardScaler 

# Set Name for StandardScaler as scaler
scaler = StandardScaler() 

# Fit Standardization
scaler.fit(df_pca) 

# Transformed Data
df_pca_scaled = pd.DataFrame(scaler.transform(df_pca))

# Checking Data
df_pca_scaled

**Modeling PCA (Principal Components = 2)**

In [ ]:
# Importing PCA Module
from sklearn.decomposition import PCA 

# Modeling PCA with Components = 2 
pca2 = PCA(n_components = 2) 

# Apply Model to Data
pca2.fit(df_pca_scaled) 

# Show Result
x_pca2 = pca2.transform(df_pca_scaled) 
df_pca2_result = pd.DataFrame(x_pca2)
df_pca2_result

Visualize PCA

In [ ]:
# Plot 
plt.scatter(x_pca2[:, 0], x_pca2[:, 1], c = cancer['target'], cmap ='plasma') 

# Labeling X and Y Axes 
plt.title('Principal Component Analysis')
plt.xlabel('First Principal Component') 
plt.ylabel('Second Principal Component')

In [ ]:
# Plotting Heatmap
df_comp2 = pd.DataFrame(pca2.components_, columns = cancer['feature_names']) 
sns.heatmap(df_comp2)

**Modeling PCA (Principal Components = 3)**

In [ ]:
# Importing PCA Module
from sklearn.decomposition import PCA 

# Modeling PCA with Components = 3
pca3 = PCA(n_components = 3) 

# Apply Model to Data
pca3.fit(df_pca_scaled) 

# Show Result
x_pca3 = pca3.transform(df_pca_scaled) 
df_pca3_result = pd.DataFrame(x_pca3)
df_pca3_result

Visualize PCA

In [ ]:
# Import Axes3D Module
from mpl_toolkits.mplot3d import Axes3D

# Plot 
ax = plt.axes(projection='3d')
ax.scatter(x_pca3[:, 0], x_pca3[:, 1], x_pca3[:, 2], c = cancer['target'], cmap ='plasma') 

# Labeling X and Y Axes 
plt.title('Principal Component Analysis')
ax.set_xlabel('First Principal Component') 
ax.set_ylabel('Second Principal Component')
ax.set_zlabel('Third Principal Component')

In [ ]:
# Plotting Heatmap
df_comp3 = pd.DataFrame(pca3.components_, columns = cancer['feature_names']) 
sns.heatmap(df_comp3)